In [2]:
import pandas as pd

path = "../dados/TMDB_all_movies.csv"

df_movies = pd.read_csv(path)
df_movies.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'cast', 'director', 'director_of_photography', 'writers', 'producers',
       'music_composer', 'imdb_rating', 'imdb_votes', 'poster_path'],
      dtype='object')

In [3]:
df_movies["overview"].head()

0    A Finnish man goes to the city to find a job a...
1    Nikander, a rubbish collector and would-be ent...
2    It's Ted the Bellhop's first night on the job....
3    Four young friends, while taking a shortcut en...
4    Timo Novotny labels his new project an experim...
Name: overview, dtype: object

In [4]:
df_movies["tagline"].head()

0                                                  NaN
1                                                  NaN
2    Twelve outrageous guests. Four scandalous requ...
3       Don't move. Don't whisper. Don't even breathe.
4                                  A Megacities remix.
Name: tagline, dtype: object

In [5]:
def remove_virgula(texto):
    return texto.replace(',', '') if isinstance(texto, str) else texto

# generos unicos
generos = set()
for lista in df_movies["genres"].dropna().str.split():
    for genero in lista:
        if genero:  # evita strings vazias

            generos.add(remove_virgula(genero))
lista_generos = sorted(generos)

lista_generos

['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Fiction',
 'History',
 'Horror',
 'Movie',
 'Music',
 'Mystery',
 'Romance',
 'Science',
 'TV',
 'Thriller',
 'War',
 'Western']

In [13]:
df_movies["title"].head(50)

0                                                 Ariel
1                                   Shadows in Paradise
2                                            Four Rooms
3                                        Judgment Night
4                      Life in Loops (A Megacities RMX)
5                                      Sunday in August
6                                             Star Wars
7                                          Finding Nemo
8                                          Forrest Gump
9                                       American Beauty
10                                         Citizen Kane
11                                   Dancer in the Dark
12                                             The Dark
13                                    The Fifth Element
14                                           Metropolis
15                                   My Life Without Me
16                                   The Endless Summer
17    Pirates of the Caribbean: The Curse of the Bla...
18                                    Kill Bill: Vol. 1
19                                              Jarhead
20                                        Walk on Water
21                                              9 Songs
22                                       Apocalypse Now
23                                           Unforgiven
24                                   The Simpsons Movie
25                Eternal Sunshine of the Spotless Mind
26                                        Amores Perros
27           Pirates of the Caribbean: Dead Man's Chest
28                                A History of Violence
29                                2001: A Space Odyssey
30                                       Twelve Monkeys
31                                          Talk to Her
32                                               8 Mile
33                                       Absolute Power
34                                         Paradise Now
35                                               Brazil
36                                        Walk the Line
37                                  Million Dollar Baby
38                                         Billy Elliot
39                                   American History X
40                                    War of the Worlds
41                                        Mars Attacks!
42                                       Before Sunrise
43                                              Memento
44                                         Blade Runner
45                                                 Hero
46                                        Before Sunset
47                   Nausica√§ of the Valley of the Wind
48                                           Miami Vice
49                                           Open Water
Name: title, dtype: object